footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60px;
    background-image: linear-gradient(to right, #fae100bd, #fa8e0070);
    margin-top: 1em;
}