* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    min-height: 100%;
    max-width: 1240px;
    margin: 0 auto;
    text-align: center;
}

.main-page-text {
    p {
        text-align: left;
        max-width: 60ch;
        line-height: 1.4;
    }
    ul {
        list-style-position: inside;
    }
    li {
        text-align: left;
    }
}

@media screen and (max-width: 380px) {}

@media screen and (max-width: 310px) {}