* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    min-height: 100%;
    max-width: 1240px;
    margin: 0 auto;
    text-align: center;
    padding: 4em;
}

.form-main {
    min-width: 500px;
    width: 30%;
}

.main-page-text {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.45);
    padding: 2em;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    p {
        text-align: left;
        max-width: 60ch;
        line-height: 1.4;
    }
    ul {
        list-style-position: inside;
    }
    li {
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    .form-main,
    main {
        width: 80%;
        min-width: 0;
        padding: 2em;
    }
}

@media screen and (max-width: 475px) {
    .form-main,
    main {
        width: 100%;
        padding: 0.5em;
    }
}